body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/random/1600x900/?landscape');
}
.card {
    background: rgb(0, 0, 0,0.8);
    color: white;
    padding: 2em;
    border-radius: 30px;
    max-width: 420px;
    width: 100%;
    margin: 1em;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    width: 44px;
    margin: 0.5;
    height: 44px;
    border-radius: 50%;
    border: none;
    margin: 0.5em;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    
}
button:hover{
    background: #7c7c7c6b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100%-100px);
}
h1.temp{
    margin: 0;
}
.description{
    text-transform: capitalize;
    position: relative;
    left: 50px;
    bottom: 40px;
}
.flex{
    display: flex;
    align-items: center;

}
